/* IMPORT TACHYONS */
/* @import "tachyons.css"; */

/* VARIABLES */
:root {
	--master-size: 16px;
	--black: #000;
	--white: #fff;
	--red: #fa1428;
}

/* MASTER */
html {
	font-size: var(--master-size, 16px);
}

/* BRAND COLORS */
.red {
	color: var(--red);
}
.bg-red {
	background-color: var(--red);
}
.hover-red:hover {
	color: var(--red);
}
.white {
	color: var(--white);
}
.bg-white {
	background-color: var(--white);
}
.hover-white:hover {
	color: var(--white);
}
.black {
	color: var(--black);
}
.bg-black {
	background-color: var(--black);
}
.hover-black:hover {
	color: var(--black);
}

/* RESETS */
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* FONTS */
@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue-Regular.otf);
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

.headline, h1 {
	font-family: BebasNeue;
	font-weight: bolder;
	font-size: 7rem;
	letter-spacing: .4rem;
	line-height: 1.25;
}

.subheadline, h2 {
	font-family: BebasNeue;
	font-weight: normal;
	font-size: 3rem;
	letter-spacing: .4rem;
	line-height: 1.25;
}

.title, h3 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.25;
}

.body-text, p, div {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
}

.ui {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 0.875rem;
	letter-spacing: .025rem;
	text-transform: uppercase;
	line-height: 1;
}

/* GRID */
.body-grid {
	display: grid;
	grid-template:
	[header-start] 	"header" 	4em		[header-end]
	[main-start]		"main" 		1fr		[main-end]
	[footer-start] 	"footer" 	auto		[footer-end]
	/ 1fr;
}

.header-grid-item {
	grid-area: header;
}

.main-grid-item {
	grid-area: main;
}

.footer-grid-item {
	grid-area: footer;
}

.search-grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    grid-auto-rows: minmax(20em, auto);
    grid-gap: 1em;
}

/* HEADER */
.header-nav {
	max-width: 90em;
	padding: 0 1em 0 1em;
}

.search-bar {
	padding-right: 3em;
	width: 35em;
	transition: 0 all;
}
.search-bar input {
	border: none;
	box-sizing: border-box;
	transition: .5s width ease;
}
.searchBarHidden {
	width: 0;
	transition: 0 all;
}
.searchBarHidden input {
	padding: 0;
	width: 0;
}

.search-icon {
	fill: var(--white);
}
.search-icon:hover {
	fill: var(--red);
}

/* FOOTER */
footer .footer-container {
	max-width: 90em;
}

/* BUTTONS */
.btn-black {
	display: table;
	background: var(--black);
	color: var(--white);
	height: 2em;
	width: 10em;
	text-align: center;
}
.btn-black:hover {
	background: var(--white);
	color: var(--black);
}
.btn-white {
	display: table;
	background: var(--white);
	color: var(--black);
	height: 2em;
	width: 10em;
	text-align: center;
}
.btn-white:hover {
	background: var(--red);
	color: var(--white);
}
.btn-red {
	display: table;
	background: var(--red);
	color: var(--white);
	height: 2em;
	width: 10em;
	text-align: center;
}
.btn-red:hover {
	background: var(--black);
	color: var(--white);
}
.btn-wide {
	width: 16em;
}
.btn-child {
	display: table-cell;
	vertical-align: middle;
}

/* MEDIA */
@media screen and (max-width: 60em) {
    :root {
        --master-size: 14px;
	}
    .search-bar {
		padding-right: 6em;
}}

